.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  height: 100%;

  .buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    [type^='button'] {
      text-decoration: none !important;
      width: 100%;
    }
  }
}
