@import '../../Styles/global.scss';

.ira {
  height: var(--screen-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ira-options {
    display: flex;
    margin: 1%;
    height: 10vh;
    width: 30vw;

    .option-link {
      height: inherit;
      width: inherit;
      text-decoration: none;

      .ira-btn {
        height: 100%;
        width: 100%;
      }
    }
  }
}
